---
title: 万葉への道
---

.intro
  :markdown
    神保町A9出口から万葉への道を説明します。

    はじめに簡単に説明しますと、A9出口を左でて直進5分くらいです。（信号を2つ越えます。）

.step
  .image
    %img{:src => "/images/1.png"}
  .description
    :markdown
      1\. 神保町A9出口を出て、左へ行きます。（でてすぐ左にロイヤルホストがあります）

.step
  .image
    %img{:src => "/images/2.png"}
  .description
    :markdown
      2\. ロイヤルホストや小諸そばを左手に見ながら直進します。

.step
  .image
    %img{:src => "/images/3.png"}
  .description
    :markdown
      3\. 1つ目の信号があります。直進して横断歩道を渡ってそのまま直進します。

.step
  .image
    %img{:src => "/images/4.png"}
  .description
    :markdown
      4\. 2つ目の信号があります。そろそろ見えてきます。

      直進して横断歩道を渡ったらすぐそこです。右手奥の角には軍服屋さんがあります。

.step
  .image
    %img{:src => "/images/5.png"}
  .description
    :markdown
      5\. 4の横断歩道を渡ってすぐ、左側の「ボンディ」というカレー屋さんが見えますがそこまで行きません。その手前です。

      右側には「釜こしうどん」といううどん屋さんがあるので、その手前のビルです。

      ここで道路渡るっぽい写真になっていますが、手前の横断歩道を渡っておくといい感じです:)

.step
  .image
    %img{:src => "/images/6.png"}
  .description
    :markdown
      6\. このビルです。なんかガラス感のあるビル。

      1F には「ユーロスターカフェ」というビアカフェがあります。🍺

.step
  .image
    %img{:src => "/images/7.png"}
  .description
    :markdown
      7\. ユーロスターカフェの左を入ります。

      (ユーロスターカフェのハンブルグサンドイッチオススメです:) [http://tabelog.com/tokyo/A1310/A131003/13113174/](http://tabelog.com/tokyo/A1310/A131003/13113174/)  )

.step
  .image
    %img{:src => "/images/8.png"}
  .description
    :markdown
      8\. インターフォンで801を押してご用件をお伝えください。（自動ドアが空いたらエレベーターで8Fへ。）
